@import "../abstracts/variables";

.product-details {
  padding-bottom: 80px;

  .container {
    max-width: $max-width-container;
    margin: 0 auto;
    padding: 0 $padding-container;
  }

  &__breadcrumbs {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 14px;
    color: $text-muted;

    .active {
      color: $primary-black;
    }
  }
}
