@use "../../abstracts" as *;

.product-skeleton {
  width: 270px;
  background: $primary-white;
  border-radius: 4px;
  overflow: hidden;

  &__image-wrapper {
    width: 100%;
    margin-bottom: 16px;
  }

  &__content {
    padding: 0 0 16px 0;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
}
