@import '../../abstracts/variables';

.price-display {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;

  &__current {
    color: $accent-red;
    font-size: 16px;
  }

  &__original {
    color: $text-muted;
    text-decoration: line-through;
    font-size: 16px;
  }

  &__discount {
    background-color: $accent-red;
    color: $primary-white;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 12px;
  }
}
