@import "../../abstracts/_variables.scss";

.star-rating {
  display: flex;
  align-items: center;
  gap: 8px;

  &__stars {
    display: flex;
    gap: 4px;
  }

  &__star {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  &__reviews {
    font-size: 14px;
    color: $text-muted;
    font-weight: 500;
  }
}
