.footer-column {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: $primary-white;
    font-family: $font-family-poppins;
  }
}
